.filter {
    width: 560px;
    margin: 0 auto;
    display: flex;
    padding: 15px;
    border: 1px solid #c1c1c1;
    border-radius: 12px;
    margin-top: 15px;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 0 10px #c1c1c1;
}