* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    
}
body {
    background: #E7E8EB;
}

.title {
    text-align: center;
    margin-top: 10px;
}

.app {
    max-width: 1140px;
    padding: 0 10px;
    margin: 0 auto;
}

.item-enter {
    opacity: 0;
}
.item-enter-active {
	opacity: 1;
	transition: opacity 500ms ease-in;
}
.item-exit {
	opacity: 1;
}
.item-exit-active {
	opacity: 0;
	transition: opacity 500ms ease-in;
}

.pagination {
	margin: 30px 0;
	display: flex;
	justify-content: center;
	&__block {
		cursor: pointer;
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 2px;
		border: 1px solid #e5ebf1;
		border-radius: 6px;
		background-color: white;
		color: #246297;
		width: 30px;
		height: 30px;
		transition: all 0.3s ease;
		&:hover {
			background-color: #e5ebf1;
			border: 1px solid #cad6e3;
		}
		&-active {
			background-color: #cad6e3;
			color: white;
		}
	}
}